################################
# OS / Editor
################################
.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp

################################
# Frontend (Vite / React)
################################
streamers-edge-front/node_modules/
streamers-edge-front/dist/
streamers-edge-front/.env
streamers-edge-front/.env.local
streamers-edge-front/.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


################################
# Backend (FastAPI / Python)
################################
streamers-edge-back/.venv/
streamers-edge-back/venv/
streamers-edge-back/__pycache__/
streamers-edge-back/**/*.pyc
bstreamers-edge-back/**/*.pyo
streamers-edge-back/**/*.pyd

streamers-edge-back/.env
streamers-edge-back/.env.*

# Python cache (global)
__pycache__/
*.py[cod]


################################
# Testing / Coverage
################################
.coverage
htmlcov/
.pytest_cache/


################################
# Misc
################################
.env
.env.*